* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

.navbar1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.heading-cat,.game-cat,.pok-logo-cat{
  display: flex;
  align-items: center;
}
.main-logo{
  box-shadow: -5px 0 8px rgba(0, 0, 0, 0.2),5px 0 8px rgba(0, 0, 0, 0.2);
}
.logo{
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-itm1{
  border: 1px solid rgba(161, 159, 159, 0.909);
}
.itm2{
  box-shadow: -1px -1px 2px rgba(161, 159, 159, 0.909);
}
.logo img{
  width: auto;
  display: block;
}
.itm1:hover{
  animation: bounceY 0.2s ease;
}
@keyframes bounceY{
  0% {transform: translateY(0);}
  40%{transform: translateY(4px);}
  80%{transform: translateY(0);}
  90%{transform: translateY(-1px);}
  100%{transform: translateY(0);}
}
.game-cat:hover .logo {
  opacity: 0.5;
  transition: filter 0.1s ease, transform 0.1s ease;
}
.game-cat .logo:hover {
  opacity: 1;
}


.navbar2{
  position: sticky;
  top: -20px;
  z-index: 999;
  background: white;
}
.catagory{
  display: flex;
  justify-content: center;
  padding: 5px 5px 0 5px;
  margin-top: 2px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.nav2-itm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  height: 45px;
  min-width: 80px;
  border-radius: 5px;
  cursor: pointer;
}


.home:hover{
  background-color: grey;
  color: white;
}
.pokédex:hover{
  background-color: rgba(224, 15, 15, 0.908);
  color: white;
}
.vid-game:hover{
  background-color: rgb(255, 136, 0);
  color: white;
}
.trade-card:hover{
  background-color: rgba(255, 191, 0, 0.88);
  color: white;
}
.animation:hover{
  background-color: rgb(17, 160, 17);
  color: white;
}
.events:hover{
  background-color: rgb(17, 183, 199);
  color: white;
}
.news:hover{
  background-color: rgb(0, 85, 255);
  color: white;
}
#profile{
  position: sticky;
  margin-top: 25px;
  right: 1rem;
  cursor: pointer;
}


main{
  padding: 30px 150px;
  background-color: #fcfcfc;
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #ffffff,
      #ffffff 20px,
      #f2f2f2 40px
    );
}


.pokemon-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.pokemon-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  background: white;
}
.pokemon{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  background: white;
  border-radius: 2px;
  height: 350px;
  width: 230px;
  padding: 10px;
  cursor: pointer;
}
.poke-img{
  width: 230px;
  height: 200px;
  padding: 3px;
  border-radius: 3px;
  background: #F2F2F2;
  object-fit: contain;
  z-index: 1;
}
.load-more{
  height: 50px;
  width: 180px;
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
  background-color: rgba(10, 119, 236, 0.957);
  box-shadow: 5px 5px 0 rgba(255, 61, 61, 0.75),-5px -5px 0 rgba(255, 61, 61, 0.75);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pokemon:hover{
  animation: bounce_poke 0.2s ease-in;
}
@keyframes bounce_poke{
  0% {transform: translateY(0);}
  40%{transform: translateY(-6px);}
  80%{transform: translateY(0);}
  90%{transform: translateY(2px);}
  100%{transform: translateY(0);}
}
.name-poke{
  font-size: 1.47rem;
  padding-top: 20px;
  text-transform: capitalize;
  font-family: 'Exo 2', sans-serif;
}
.poke-border{
  border:  1.5px solid black;
  border-radius: 3px;
}
.type-poke{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
    display: flex;
    width: 85px;
    justify-content: center;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 5px;
}
.grass{ background-color: #9bcc50; color: black; }
.poison{ background-color: #b97fc9; }
.fire{ background-color: #fd7d24; }
.water{ background-color: #4592c4; }
.bug{ background-color: #729f3f; }
.normal{ background-color: #a4acaf; color: black; }
.electric{ background-color: #eed535; color: black; }
.ground{ background-color: #ab9842; }
.fairy{ background-color: #fdb9e9; color: black; }
.fighting{ background-color: #d56723; }
.psychic{ background-color: #f366b9; }
.rock{ background-color: #a38c21; }
.ghost{ background-color: #7b62a3; }
.ice{ background-color: #51c4e7; color: black; }
.dragon{ background-color: #f16e57; }
.dark{ background-color: #707070; }
.steel{ background-color: #9eb7b8; color: black; }
.flying{ background-color: #3dc7ef; color: black; }


#pokédex{
  font-size: 2rem;
  color: rgba(161, 160, 160, 0.883);
  background: white;
  padding: 5px 0 5px 15px;
}

.search-bar{
  display: flex;
  justify-content: space-around;
  background: #313131;
  margin: 0 -100px;
  padding: 45px 0 20px 70px;
  gap: 10px;
}
.name-number{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.7rem;
  color: white;
}
.search{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
#poke-search{
  width: 250px;
  height: 30px;
  border: 3px solid rgba(104, 102, 102, 0.835);
}
#poke-search-i{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 3px solid rgba(104, 102, 102, 0.835);
  color: #fff;
  background-color: #fb8322;
  transition: background-color 0.1s;
}
#poke-search-i:hover{
  background-color: #ff6a00;
}
.text-search{
  color: white;
  padding: 10px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-info{
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #35e174db;
  border-radius: 4px;
  width: 500px;
  height: 50px;
  padding: 10px 15px 15px 15px;
  cursor: pointer;
}
.not-found{
  display: inline;
  font-size: 1.5rem;
  color: rgb(255, 81, 81);
  border: 2px solid rgb(233, 154, 154);
  border-radius: 0.5rem;
  padding: 20px;
}